<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>CREATE USER---SIMPLE_CRUD</title>
  </head>
  <body>
    

    <div class="container mt-4">
      <a href="/" class="btn btn-warning mt-3 mb-3">Back to Home</a>
      {% if messages %}
      <div class="alert alert-success">
        {% for message in messages %}
          {{ message }}
              {% endfor %}
        </div>
        {% endif %}
      <div class="card">
       
        <div class="card-header">
          <h1 class="text-center mt-3 mb-3">Add Details</h1>
        </div>
        <div class="container">
          <form class="form-control mt-3 mb-4" action="store/" method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
              <label for="Name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
            </div>
            <div class="form-group mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group mb-3">
              <label for="mobile" class="form-label">Mobile Number</label>
              <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter your mobile">
            </div>
            <label for="gender">Gender:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="" value="Male">
              <label class="form-check-label" for="flexRadioDefault1">Male</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" name="gender" id="" value="Female">
              <label class="form-check-label" for="flexRadioDefault2">Female</label>
            </div>
            
            <label for="hobbies">Hobbies:</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="hobbies" value="Cricket" id="cricket">
              <label class="form-check-label" for="flexCheckDefault">Cricket</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="hobbies" value="Football" id="football" >
              <label class="form-check-label" for="Football">Football</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="hobbies" value="Volleyball" id="volleyball" >
              <label class="form-check-label" for="Volleyball">Volleyball</label>
            </div>
            <div class="form-group mb-3">
              <label for="mobile" class="form-label">City:</label>
              <select name="city" class="form-control" id="">
                <option value="">Select</option>
                <option value="Agra">Agra</option>
                <option value="Banglore">Banglore</option>
                <option value="Ahmedabad">Ahemdabad</option>
                <option value="Vadodara">Vadodara</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2" onclick="return checkPara()">Submit</button>
          </form>
        </div>
       
      </div>
    </div>


    <script>
      
      function checkPara(){
        let name = document.getElementById("name");
        let email = document.getElementById("email");
        let mobile = document.getElementById("mobile");
        if(name.value==""){
          console.log("Name can not be blank...");
          document.getElementById("name").classList.add('is-invalid');
          document.getElementById("name").classList.remove('is-valid');
        }else{
          document.getElementById("name").classList.remove('is-invalid');
          document.getElementById("name").classList.add('is-valid');
        } 
        if (email.value==""){
          console.log("email can not be blank...");
          document.getElementById("email").classList.remove('is-valid');
          document.getElementById("email").classList.add('is-invalid');
        }else{
          document.getElementById("email").classList.remove('is-invalid');
          document.getElementById("email").classList.add('is-valid');
        } 
        if (mobile.value==""){
          console.log("mobile can not be blank...");
          document.getElementById("mobile").classList.add('is-invalid');
          document.getElementById("mobile").classList.remove('is-valid');
        }else{
          document.getElementById("mobile").classList.remove('is-invalid');
          document.getElementById("mobile").classList.add('is-valid');
        }

        if(name.value!="" && email.value!="" && mobile.value!=""){
          return true;
        }
        return false;
      }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>