{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>EDIT DETAILS---SIMPLE_CRUD</title>
  </head>
  <body>

    

    <div class="container mt-4">
      <a href="/" class="btn btn-warning mt-3 mb-3">Back to Home</a>
      {% if messages %}
      <div class="alert alert-success">
        {% for message in messages %}
          {{ message }}
              {% endfor %}
        </div>
        {% endif %}
      <div class="card">
        
        <div class="card-header">
          <h1 class="text-center mt-3 mb-3">Edit Details</h1>
        </div>
        <div class="container">
          
          
          <form class="form-control mt-3 mb-4" action="{% url 'update' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="Name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ single_data.name }}" placeholder="Enter your name">
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="text" class="form-control" id="email" name="email" value="{{ single_data.email }}" placeholder="Enter your email">
            </div>

            <div class="mb-3">
              <label for="mobile" class="form-label">Mobile Number</label>
              <input type="text" class="form-control" id="mobile" name="mobile" value="{{ single_data.mobile }}" placeholder="Enter your mobile">
            </div>
            
            <label for="gender">Gender:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="" value="Male" {% if single_data.gender == 'Male' %} checked {% endif %} >
              <label class="form-check-label" for="Male">Male</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" name="gender" id="" value="Female" {% if single_data.gender == 'Female' %} checked {% endif %}>
              <label class="form-check-label" for="Female">Female</label>
            </div>
            
            <label for="hobbies">Hobbies:</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="hobbies" value="Cricket" id="cricket" {% if 'Cricket' in single_data.hobbies  %} checked {% endif %} >
              <label class="form-check-label" for="flexCheckDefault">Cricket</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="hobbies" value="Football" id="football" {% if 'Football' in single_data.hobbies  %} checked {% endif %} >
              <label class="form-check-label" for="Football">Football</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="hobbies" value="Volleyball" id="volleyball" {% if 'Volleyball' in single_data.hobbies  %} checked {% endif %} >
              <label class="form-check-label" for="Volleyball">Volleyball</label>
            </div>
            
            <div class="form-group mb-3">
              <label for="mobile" class="form-label">City:</label>
              <select name="city" class="form-control" id="">
                <option value="">Select</option>
                <option value="Agra" {% if single_data.cityName == 'Agra' %} selected {% endif %} >Agra</option>
                <option value="Banglore" {% if single_data.cityName == 'Banglore' %} selected {% endif %} >Banglore</option>
                <option value="Ahmedabad" {% if single_data.cityName == 'Ahmedabad' %} selected {% endif %} >Ahemdabad</option>
                <option value="Vadodara" {% if single_data.cityName == 'Vadodara' %} selected {% endif %} >Vadodara</option>
              </select>
            </div>

            <div class="form-control mb-3">
              <label>Choose Profile Pic:  </label>
              {% if single_data.profile_pic %}
                8<img src="{% static '/upload/' %}{{ single_data.profile_pic }}" width="80">
                {% else %}
                <img src="{% static '/upload/' %}not-found.png" width="50">
              {% endif %}
              <input type="file" name="profile_pic" id="profile_pic" class="form-control-file" >
            </div>

            <input type="hidden" name="uid" value="{{ single_data.id }}">

            <button type="submit" class="btn btn-primary mb-2" onclick="return checkPara()">Submit</button>
          </form>
        </div>
       
      </div>
    </div>


    <script>
      
      function checkPara(){
        let name = document.getElementById("name");
        let email = document.getElementById("email");
        let mobile = document.getElementById("mobile");
        if(name.value==""){
          console.log("Name can not be blank...");
          document.getElementById("name").classList.add('is-invalid');
          document.getElementById("name").classList.remove('is-valid');
        }else{
          document.getElementById("name").classList.remove('is-invalid');
          document.getElementById("name").classList.add('is-valid');
        } 
        if (email.value==""){
          console.log("email can not be blank...");
          document.getElementById("email").classList.remove('is-valid');
          document.getElementById("email").classList.add('is-invalid');
        }else{
          document.getElementById("email").classList.remove('is-invalid');
          document.getElementById("email").classList.add('is-valid');
        } 
        if (mobile.value==""){
          console.log("mobile can not be blank...");
          document.getElementById("mobile").classList.add('is-invalid');
          document.getElementById("mobile").classList.remove('is-valid');
        }else{
          document.getElementById("mobile").classList.remove('is-invalid');
          document.getElementById("mobile").classList.add('is-valid');
        }

        if(name.value!="" && email.value!="" && mobile.value!=""){
          return true;
        }
        return false;
      }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>